<publishProfile profileName="rapsode - FTP" publishMethod="FTP" publishUrl="ftp://waws-prod-am2-005.ftp.azurewebsites.windows.net/site/wwwroot" ftpPassiveMode="True" userName="rapsode\$rapsode" userPWD="7ewlG9jmPd4G9vZRuthoJDDll47LQY7GB1g714dvv9Ljc1Noz66AMBpWfiMH" destinationAppUrl="http://rapsode.azurewebsites.net" SQLServerDBConnectionString="" mySQLDBConnectionString="" hostingProviderForumLink="" controlPanelLink="http://windows.azure.com" webSystem="WebSites"><databases />